
body {
    font-family:"Montserrat", sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}


.big-heading{
    font-weight: 900;
    font-size:3.5rem;
    line-height: 1.5;
}

.section-heading{
    line-height: 1.5;
    font-weight: 700;
    font-size:3rem;
}

/*container*/
.container-fluid{
    padding: 7% 15%;
}

/*section*/
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/*navigation bar*/
.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}


/*title*/

#title .container-fluid{
    padding: 2% 15% 7%;
    text-align: left;
}

/*download buttons*/
.download-button{
    margin: 5% 3% 5% 0%;
}

/*title image*/
.title-image{
    width:60%;
    transform: rotate(25deg);
    margin-left:40px;
    padding-left:20px;
    position:absolute;
}

/*feature*/
#features{
    position: relative;
    z-index: 1;
}

.feature-title{
    margin: 6% 0% 6% 0%;
    line-height: 1.5;
    font-weight: 700;
    font-size: 140%;
}

.feature-icon{
    /*font-size: 3rem;*/
    color: #ef8172;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-description{
    color: #8f8f8f;
}
.padding-feature{
    /*padding: 50px 35px 50px 35px;*/
    padding: 5%;
}




/*testmonials*/
#testimonials{
    background-color: #ef8172;
}


.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    line-height: 1.5;
    font-weight: 700;
    font-size:3rem;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*pricing*/
#pricing{
    padding: 100px 100px 0;
}

.price-text{
    line-height: 1.5;
    font-weight: 700;
    font-size:3rem;
}

.pricing-column{
    padding: 3% 2%;
}

.price-heading{
    margin: 6% 0% 6% 0%;
    line-height: 1.5;
    font-weight: 700;
    font-size: 140%;
}


@media (max-width:990px) {
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform:rotate(0);
        margin-left:0px;
        padding-left:0px;
    }
}


/*cta*/

#cta{
}

/*footer*/
#footer{
    padding: 4% 15% 2%;
}
