#title{
    background-color: #ff4c68;
    color: #fff;
}

body {
    font-family:"Montserrat", sans-serif;;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 2% 15% 7%;
}

/*navigation bar*/
.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/*download buttons*/
.download-button{
    margin: 5% 3% 5% 0%;
}

/*title image*/
.title-image{
    width:60%;
    transform: rotate(25deg);
    margin-left:40px;
    padding-left:20px;
    position:absolute;
}

/*feature*/
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-icon{
    /*font-size: 3rem;*/
    color: #ef8172;
}

.feature-icon:hover {
    color: #ff4c68;
}
h3{
    margin: 6% 0% 6% 0%;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 140%;
}
.feature-description{
    color: #8f8f8f;
}
.padding-feature{
    text-align: center;
    /*padding: 50px 35px 50px 35px;*/
    padding: 5%;
}

/*testmonials*/

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

h2{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size:3rem;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/*pricing*/
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}